body{
    margin:0px;
    padding: 0px;
    height: 100%;
}

#map{
    width: 100%;
    height: 500px;
    background-color:#fff;
    background-image: url(../images/pattern-07.jpg);
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-control-zoom {
    display: none !important;
}